.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  justify-content: space-around;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 700px;
  height: 700px;
  margin-top: 10px;
  line-height: 10px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}




.sidebar{
	background-color: #E5E4E2;
	height:100%;
	width:20%;
		
}